
@{
	ViewBag.Title = "Index";
}

<h2>
	歡迎回來~~@(((FormsIdentity)User.Identity).Ticket.UserData)
</h2>
<hr />


<div class="d-flex justify-content-center align-items-center h-100" >
	<div class="d-flex justify-content-center align-items-center h-100" >
		<a class="d-inline m-0 p-0 w-50" href="/BackendMembers/EditPassword/"><img src="~/Files/Images/password.png" class="w-100" /></a>
		<a class="d-inline m-0 p-0 w-50" href="/BackendMembers/EditProfile/"><img src="~/Files/Images/profile.png" class="w-100"/></a>
	</div>

	<div class="d-inline-block" >
	</div>

</div>
