
@{
	ViewBag.Title = "NotAuthorize";
}


<div style="text-align: center;">
	<img src="~/Files/Images/arniya.jpg" alt="權限不夠啦哈哈">
</div>


<div class="mt-5" style="text-align: center;">
	@Html.ActionLink("好啦點我登入", "login", null, new { @class = "btn btn-primary btn-lg" })
</div>