@{
    Layout = "~/Views/Shared/_8TataLayout.cshtml";
}


<div class="d-block position-absolute  w-100  h-100" >
<iframe src="https://gamma.app/embed/pwqg6ttvrbcwxnq" style="width: 100%; max-width: 100%; height: 100%" allow="fullscreen" title="TataGamedom：全面的遊戲網站"></iframe>
</div>