@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_8TataLayout.cshtml";

}
@section Styles{
	<link href="~/Content/HOME2.css" rel="stylesheet" />
}

<!DOCTYPE html>
<html lang="en">

<h>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="style.css">
	<title>Day1- Expanding Card</title>
	</head>

	<body>
		<div class="container">
			<div class="panel active"
				 style="background-image: url('https://localhost:44398/Files/NewsImages/82749573.jpg'); ">
				<h3 style="color: black;">氣氛長AKA來電汪</h3>
			</div>
			<div class="panel"
				 style="background-image: url('https://localhost:44398/Files/NewsImages/HN74VjF.png'); ">
				<h3 style="color: black;">敢惹我就賞你一巴長AKA112</h3>
			</div>
			<div class="panel"
				 style="background-image: url('https://localhost:44398/Files/NewsImages/b27859dfa6e12a2e9_700.jpg'); ">
				<h3 style="color: black;">技術長AKA地下助教</h3>
			</div>
			<div class="panel"
				 style="background-image: url('https://localhost:44398/Files/NewsImages/POCHA.jpg'); ">
				<h3 style="color: black;">組長波加曼AKANN</h3>
			</div>
		</div>


	</body>

</html>
@section Scripts {
	@Scripts.Render("~/Scripts/home2.js")
	<script>

		const panels = document.querySelectorAll('.panel')

		panels.forEach((panel) => {
			panel.addEventListener('click', () => {
				removeActiveClasses();
				panel.classList.add('active');

			})

		})

		const removeActiveClasses = function () {
			panels.forEach(panel => {
				panel.classList.remove('active');
			})
		}
	</script>
}