<link href="~/Content/bootstrap theme.css" rel="stylesheet" />
<link href="~/Content/layoutStyle1.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
    .btn {
        font-size: 16px;
    }
</style>


<h2>此筆資料與其他資料有關連，無法刪除</h2>
<div class="col-md-12 d-flex justify-content-center mt-5">
    <a href="@Url.Action("Index")" class="btn btn-outline-secondary"><i class="bi bi-house-door"></i>回首頁</a>
</div>
