@model TataGamedom.Models.EFModels.Order

@{
    ViewBag.Title = "刪除訂單";
}

<h2>刪除訂單</h2>

<p class="text-danger">您確定要刪除此記錄?</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger mt-3" /> |
            @Html.ActionLink("返回訂單編輯", "Edit", new {Index = Model.Index})
        </div>
    }
</div>
